fastapi
uvicorn
sqlmodel
python-jose[cryptography]
passlib[bcrypt]==1.7.4
bcrypt==4.0.1
argon2-cffi
python-multipart
pdfplumber
httpx
python-dotenv
pydantic-settings
bcrypt
groq
email-validator
cryptography